<footer>
    <a href="https://www.flaticon.com/free-icons/barista" title="barista icons">Barista icons created by BZZRINCANTATION - Flaticon</a>
</footer>

<script src="js/main.js"></script>
</body>
</html>