<footer class="">
    <span>Site designed / developed by <a class="hover:underline decoration-dotted decoration-red-400 underline-offset-4" href="https://www.linkedin.com/in/christine-hsiao-dev/">Christine Hsiao</a></span><br />
    <span>Barista icons created by <a class="hover:underline decoration-dotted decoration-red-400 underline-offset-4" href="https://www.flaticon.com/free-icons/barista" title="barista icons">BZZRINCANTATION - Flaticon</a></span>
</footer>

<script src="js/main.js"></script>
</body>
</html>