<footer class="">
    <span class="text-sm">Site designed / developed by <a class="hover:underline decoration-dotted decoration-red-400 underline-offset-4" href="https://www.linkedin.com/in/christine-hsiao-dev/">Christine Hsiao</a></span><br />
    <span class="text-sm">Barista icons created by <a class="hover:underline decoration-dotted decoration-red-400 underline-offset-4" href="https://www.flaticon.com/free-icons/barista" title="barista icons">BZZRINCANTATION - Flaticon</a></span>
</footer>

<script src="js/main.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjxj1HMuya88uwROGDFuLG1kFs-BzT5L4&libraries=places&callback=initAutocomplete" async defer>
</script>
</body>
</html>