<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Barista Wanted</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/imgs/favicon-32x32.png"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/output.css" />
  </head>
  <body>
    <header class="relative container mx-auto p-6">
      <div class=" flex item-center justify-between">
        <div class="pt-0">
          <a href="/"><img class="h-12" src="/images/barista.png" alt="logo of barista pouring coffee"></a>
        </div>
        <div class="pt-0">
          <h1 class="max-w-lg font-mono text-4xl font-bold text-center md:text-4xl"><a href="/dashboard">Barista Wanted</a></h1>
        </div>
        <nav>
          <ul class="hidden md:flex space-x-6 menus -translate-y-1 transition-transform ease-in duration-100">
            <li><a class="hover:underline decoration-dotted decoration-red-400 underline-offset-4" href="/login">Login</a></li>
            <!-- Submenu dropdown -->
            <li>
              <button 
                type="button" 
                aria-haspopup="true" 
                aria-expanded="true" 
                aria-controls="dropdown1"
              >
                Signup<span class="arrow w-2 h-2 align-middle inline-block border-black border-solid border-l-2 border-b-2 -rotate-45 ml-2 -mt-1"></span>                          
              </button>
              <ul class="dropdown overflow-hidden h-0 transition-[height] ease-in duration-200 text-right md:absolute right-0 left-auto p-0 z-99 bg-white"id="dropdown1">
                <li><a class="hover:underline decoration-dotted decoration-red-400 underline-offset-4" href="/signup_barista">Barista</a></li>
                <li><a class="hover:underline decoration-dotted decoration-red-400 underline-offset-4" href="/signup_cafe">Shop Owner</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </header>

