<%- include('partials/header') -%>
<section>
    <main class="container flex flex-col items-center px-6 mx-auto space-y-0 md:space-y-0 lg:flex-row-reverse lg:justify-center lg:gap-20">
        <div class="w-fit flex flex-col my-9 space-y-12">
            <h1 class="max-w-lg text-3xl font-bold text-secondary text-center lg:text-4xl lg:text-left">
               Want to try out this awesome app but don't want to signup an account? <span class="max-w-lg text-3xl font-bold text-primary text-center lg:text-4xl lg:text-left">No problem, feel free to try our demo accounts with limited features</span></h1>

            <p class="max-w-lg text-md text-center text-grey-300 lg:text-left">
                <span class="underline decoration-red-400 decoration-2 underline-offset-4 font-bold font-mono">TRY AS</span>
            </p>
            <div class="flex justify-center space-x-3 lg:justify-start">
                <button type="button" class="btn btn-secondary btn-lg" onclick="tryBarista()">Barista</a>
                <button type="button" class="btn btn-primary btn-lg" onclick="tryCafe()">Café</a>
            </div>
        </div>
        <div class="w-fit">
            <img src="/images/demo.gif" alt="">
        </div>
    </main>
</section>

<%- include('partials/footer') -%>