<%- include('partials/header') -%>

<main class="container">
    <div class="row justify-content-around mt-5">
        <a href="/login_barista" class="col-3 btn btn-primary">Barista Login</a>
        <a href="/signup_barista" class="col-3 btn btn-primary">Barista Signup</a>
        <a href="/signup_cafe" class="col-3 btn btn-primary">Cafe owner Signup</a>
    </div>
</main>
    

<%- include('partials/footer') -%>