<%- include('partials/header') -%>

<main class="container">
    <div>
        <a href="/login">Login</a>
        <a href="/signup_barista">Barista Signup</a>
        <a href="/signup_cafe">Cafe owner Signup</a>
    </div>
</main>
    

<%- include('partials/footer') -%>