<%- include('partials/header') -%>

<main class="container">
    <div class="row justify-content-around mt-5">
        <a href="/ownerlogin" class="col-3 btn btn-primary">Cafe Owner Login</a>
        <a href="/ownersignup" class="col-3 btn btn-primary">Cafe Owner Signup</a>
        <a href="/baristasignup" class="col-3 btn btn-primary">Cafe Owner Signup</a>
    </div>
</main>
    

<%- include('partials/footer') -%>