<%- include('partials/header') -%>
<section>
    <main class="container flex flex-col-reverse items-center px-6 mx-auto space-y-0 md:space-y-0 lg:flex-row lg:justify-center lg:gap-20">
        <div class="w-fit flex flex-col my-9 space-y-12">
            <h1 class="max-w-lg text-3xl font-bold text-primary-focus text-center lg:text-4xl lg:text-left">
               Are you looking for baristas to cover your vacant shifts? <span class="max-w-lg text-3xl font-bold text-warning text-center lg:text-4xl lg:text-left">Do you want to make amazing coffee and get paid?</span></h1>

            <p class="max-w-lg text-md text-center text-grey-300 lg:text-left">
                <span class="underline decoration-red-400 decoration-2 underline-offset-4 font-bold font-mono">Barista Wanted</span>
                connects coffee shops with qualified baristas for emergency shifts, allowing shops to easily post their vacancies, and baristas to apply promptly via email notifications.</p>
            <p class="max-w-lg text-md text-center text-grey-300 lg:text-left">Our aim is to ensure that coffee shops will never be short-handed and allow baristas to work whenever, wherever they want!
            </p>
            <div class="flex justify-center space-x-3 lg:justify-start">
                <a href="/signup_barista" class="btn btn-secondary btn-lg">Barista</a>
                <a href="/signup_cafe" class="btn btn-primary btn-lg">Café</a>
                <a href="/getDemo" class="btn btn-success btn-lg">Try Demo</a>
            </div>
        </div>
        <div class="w-fit">
            <img src="/images/coffee-shop-color.png" alt="An illustration of a coffee shop view from outside" class="max-w-md">
        </div>
    </main>
</section>

<%- include('partials/footer') -%>