@tailwind base;
@tailwind components;
@tailwind utilities;


/**** BASE STYLE ****/
input {
  /* background-color: rgb(206, 218, 244); */
  width: 100%;
  padding: 0.25rem 1rem;
}
form > div {
  margin-bottom: 2rem;
}

form > button {
  padding: 0.75rem 1.5rem;
  color: #fff;
  /* background-color: rgba(239, 68, 68, 1) !important; */
  border-radius: 9999px;
}

/**** MODULES ****/
body {
  position: relative;
  padding-bottom: 6rem;
  min-height: 100vh;
}
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  /* background-color: #efefef; */
  text-align: center;
}

/**** COMPONENTS ****/
#barista-wanted::before {
  content: "";
  position: absolute;
  left: 15%;
  bottom: 5px;
  width: 115px;
  height: 11px;
  transform: skew(-19deg) translateX(-25%) rotate(-2deg);
  background: rgba(222, 61, 217, 0.453);
  z-index: -1;
}